body{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    background: brown;
    font-size: 100%;
    text-align: center;
    border: beige;
}

h1{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}